{% extends 'aparcamientos/public/base.html' %}


{% block content %}



<h3>Práctica de SARO (2017): Aparcamientos</h3>
<div><strong>Autor:</strong>Ignacio Condés Menchén<br>

<div>Sitio web para aglutinar a partir de datos del XML del ayto. de Madrid (enlace en el pie de página),
analizando el mismo y actualizando una base de datos de sus aparcamientos en el servidor.<br>
Este tiene soporte para usuarios, los cuales pueden seleccionar aparcamientos para añadirlos a su página personal,
 además de personalizar el color de fondo y tamaño de fuente que visualizará en toda la página.<br>

En la página de cada aparcamiento se podrá añadir un comentario (anónimo) al mismo.<br>

Además, se podrá visualizar solamente los aparcamientos cuyas instalaciones sean accesibles, marcando dicha opción al mostrarlos.

</div>




{% endblock content %}
