* {
    font-family: 'Lucida Grande';

}


#contenido {
    margin: 0px auto;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.navbar navbar-inverse navbar-fixed-top {
    font-family: 'Playfair Display';
}


#banner {
  max-height:49px;

}
