* {
    font-family: 'Lucida Grande';
}


#contenido {
       padding-top: 100px;
       padding-bottom: 50px;
       padding-left: 10px;
       padding-right: 10px;
}


.navbar navbar-inverse navbar-fixed-top {
    font-family: 'Playfair Display';
}


.jumbotron {
  border-radius: 6px;
}

#banner {
  max-height: 49px;

}

#header {
  padding: 10px;
}
#footer{
  height: 50px;
}
#texto_footer{
  font-size: 70%;
}
