{% extends 'aparcamientos/base.html' %}


{% block content %}

<div class="container">
  <div class="page-header">
    <h2><center>Ayuda</center></h2>
    <h4><center>Práctica de SARO (2017): Aparcamientos</center></h4>
    <p><center>Autor:Ignacio Condés Menchén</center></p>
  </div>
</div>



<div class="container">
<p>Sitio web para aglutinar a partir de datos del XML del ayto. de Madrid (enlace en el pie de página),
analizando el mismo y actualizando una base de datos de sus aparcamientos en el servidor.</p>
<p>Este tiene soporte para usuarios, los cuales pueden seleccionar aparcamientos para añadirlos a su página personal,
 además de personalizar el color de fondo y tamaño de fuente que visualizará en toda la página.</p>

<p>En la página de cada aparcamiento se podrá añadir un comentario (anónimo) al mismo.</p>

Además, se podrá visualizar solamente los aparcamientos cuyas instalaciones sean accesibles, marcando dicha opción al mostrarlos.

</div>


{% endblock content %}
