{% load staticfiles %}
<!-- Añadimos los ficheros estáticos (CSS, imágenes, etc.) -->


<html>
    <head>
        <title >Página principal</title>
        <!-- Incluimos la cabecera para los CSS de bootstrap -->

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/aparcamientos.css' %}">
        <!-- Cabecera para las fuentes (Google Fonts) -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext" rel="stylesheet" type="text/css">



    </head>
    <body>

        <div>
            <p>
                Pulsa <a href="">aquí</a> para no ir a ningún sitio.
            </p>

        </div>

            <div>
                <p><a href=""> {{ aparcamientos }} </a>

            <div>

    </body>
</html>
