{% extends 'aparcamientos/base.html' %}

{% block content %}
<style media="screen" type="text/css">
  #texto_main {
    margin-top: 100px;
  }
  #enlace_aparcamientos {
      margin-top: 100px;
  }

</style>

<div id="texto_main"><center>Estás en la página principal</center></div>

<div id="enlace_aparcamientos"><center>Ir a <a href="aparcamientos">todos los aparcamientos</a></center></div>
<br><br>
<div id="mas_comentados"><center><strong>Aparcamientos más comentados:</strong></center>
    <ol>
    {% for aparcamiento in mas_comentados %}
        <li><a href="{{ aparcamiento.url }}">{{ aparcamiento.nombre }}</a>
          {% if aparcamiento.clase_vial and aparcamiento.nombre_via %}
              ({{ aparcamiento.clase_vial }} {{ aparcamiento.nombre_via }}).
          {% endif %}
          <a href="/aparcamientos/{{ aparcamiento.identificador }}">Información local.</a></li>
    {% endfor %}
  </ol>
</div>
{% if paginas %}
    <span id="menu_paginas">
      <strong>Páginas de los usuarios</strong><br>
      <ul>
        {% for usuario, pagina in paginas.items %}
          <li><a href="/{{ usuario }}">{{ pagina }}</a></li>
        {% endfor %}
      </ul>
    </span>

{% endif %}

{% endblock content %}
