{% extends 'aparcamientos/base.html' %}

{% block content %}
<style media="screen" type="text/css">
  #texto_main {
    margin-top: 100px;
  }
  #enlace_aparcamientos {
      margin-top: 100px;
  }

</style>

<div class="jumbotron">
  <div class="container">
    <h1>¡Bienvenido!</h1>
    <p>Estás en la página principal. Entra a navegar por los aparcamientos disponibles.
    <p><a class="btn btn-primary btn-lg" href="/aparcamientos" role="button">Aparcamientos disponibles</a></p>
  </div>
</div>

{% if paginas %}
  <div class="list-group pull-right">
    <h4>Páginas de usuarios</h4>
      {% for usuario, pagina in paginas.items %}
    <a href="/{{ usuario }}" class="list-group-item">{{ pagina }}</a>
      {% endfor %}
</div>
{% endif %}

<div id="mas_comentados">
    <h4><span class="glyphicon glyphicon-comment"></span> Aparcamientos más comentados</h4>

        <div class="pull-left">
          {% for aparcamiento in mas_comentados %}
            <div class="btn-group">
              <a href="{{ aparcamiento.url }}" class="btn btn-primary">{{ aparcamiento.nombre}}
                {% if aparcamiento.clase_vial and aparcamiento.nombre_via %}
                    ({{ aparcamiento.clase_vial }} {{ aparcamiento.nombre_via }})
                {% endif %}
              </a>
              <a href="/aparcamientos/{{ aparcamiento.identificador }}" class="btn btn-info">Más información</a>
            </div><br><br>
          {% endfor %}
        </div>
</div>

{% endblock content %}
