{% extends 'aparcamientos/base.html' %}


{% block content %}

<div><center><strong><h3>{{ titulo_de_pagina }}</h3></strong></center></div>




{% if seleccionados %}
<a href="/{{ usuario_de_pagina }}/xml">Ver canal XML del usuario</a>
<div>
    <center><h5>APARCAMIENTOS SELECCIONADOS:</h5></center>
    <ul>
        {% for seleccionado in seleccionados %}
            <li><a href="{{ seleccionado.aparcamiento.url }}">{{ seleccionado.aparcamiento.nombre }}</a>
              {% if seleccionado.aparcamiento.clase_vial and seleccionado.aparcamiento.nombre_via %}
                  ({{ seleccionado.aparcamiento.clase_vial }} {{ seleccionado.aparcamiento.nombre_via }}).
              {% endif %}
              <a href="/aparcamientos/{{ seleccionado.aparcamiento.identificador }}">Información local.</a>
               (agregado {{ seleccionado.cuando }})
          </li>

        {% endfor %}
    </ul>
    {% if backward %}
    <span><a href="/{{ usuario_de_pagina }}?offset={{ offset|add:"-1" }}">5 Previos</a></span>
    {% endif %}

    {% if forward %}
    <span><a href="/{{ usuario_de_pagina }}?offset={{ offset|add:"1" }}"> 5 Siguientes</a></span>
    {% endif %}
</div>



    {% if personalizar %}
        <div>Personaliza el sitio
            <form method="POST">
              {% csrf_token %}
                <label for="bg_color_choose">Color de fondo:</label>
                <select name="bg_color_choose" id="bg_color_choose">
                  <option selected value="white">Blanco</option>
                  <option value="gray">Gris</option>
                  <option value="green">Verde</option>
                  <option value="orange">Naranja</option>
                  <option value="cadetblue">Azul</option>
                  <option value="red">Rojo</option>
                </select>

                <label for="font_size_choose">Tamaño de fuente:</label>
                <select name="font_size_choose" id="font_size_choose">
                    <option value="1.2">Muy grande</option>
                    <option value="1.1">Grande</option>
                    <option selected value="1.0">Normal</option>
                    <option value="0.9">Pequeña</option>
                    <option value="0.8">Muy pequeña</option>

                </select>
                <label for="titulo_nuevo">Cambiar el título de tu página personal</label>
                <input type="text" id="titulo_nuevo" name="titulo_nuevo">

                <input type="submit" value="Enviar">
            </form>
          </div>




        </div>
    {% endif %}

{% else %}

<div>Este usuario no ha seleccionado ningún aparcamiento todavía</div>

{% endif %}














{% endblock content %}
