{% extends 'aparcamientos/private/base.html' %}

<style media="screen" type="text/css">
  #informacion {
    margin-top: 200px;
    padding-top: 50px;
  }

  #caracteristicas{
    margin-top: 50px;
    padding-top: 50px;
  }

</style>
{% block content %}

  <div id="informacion"><center>
      {% if aparcamiento %}
          <h1><strong>Nombre:</strong> {{ aparcamiento.nombre }}</h1></center>
          {% if aparcamiento.accesibilidad %}
              <center><u>¡Aparcamiento accesible!</u></center>
          {% endif %}
          <ul id="caracteristicas">
              {% if aparcamiento.distrito %}
                  <li><strong>Distrito: </strong> {{ aparcamiento.distrito }} <br>
              {% endif %}

              {% if aparcamiento.barrio %}
                  <li><strong>Barrio: </strong> {{ aparcamiento.barrio }} <br></li>
              {% endif %}

              {% if aparcamiento.descripcion %}
                  <li><strong>Descripción:</strong> {{ aparcamiento.descripcion }}<br></li>
              {% endif %}

              {% if aparcamiento.correo %}
                  <li><strong>Correo:</strong> {{ aparcamiento.correo }}<br></li>
              {% endif %}

              {% if aparcamiento.telefono %}
                  <li><strong>Teléfono:</strong> {{ aparcamiento.telefono }}<br></li>
              {% endif %}

              {% if aparcamiento.clase_vial and aparcamiento.nombre_via %}
                  <li><strong>Dirección: </strong> {{ aparcamiento.clase_vial }} {{ aparcamiento.nombre_via }}
                    {% if aparcamiento.numero %}
                        {{ aparcamiento.numero }}
                    {% endif %}
                    <br></li>
              {% endif %}

              {% if aparcamiento.url %}
                  <li><strong><a href="{{ aparcamiento.url }}">Página (esmadrid)</a></strong><br>
              {% endif %}

              {% if aparcamiento.latitud %}
                  <li><strong>Latitud:</strong> {{ aparcamiento.latitud}}<br>
              {% endif %}

              {% if aparcamiento.longitud %}
                  <li><strong>Longitud:</strong> {{ aparcamiento.longitud}}<br>
              {% endif %}
          </ul>

<!-- Interfaz para seleccionar el aparcamiento -->
          <br><br>
          {% if seleccionado %}
              <div>Has seleccionado este aparcamiento.<a href="/aparcamientos/{{ aparcamiento.identificador }}/unselect">Deseleccionar.</a></div>
          {% else %}
              <div><a href="/aparcamientos/{{ aparcamiento.identificador }}/select">Seleccionar este aparcamiento.</a></div>
          {% endif %}





          {% if comentarios %}
              <h6><strong><br><br>COMENTARIOS DEL APARCAMIENTO:</strong></h6>
               <div><ul>

                    {% for comentario in comentarios %}
                        <div>
                          <li><strong>{{ comentario.hora }}:<br></strong>
                          {{ comentario.contenido }}</li>
                        </div>
                    {% endfor %}

               </ul></div>
          {% endif %}

          <!-- INTERFAZ PARA AÑADIR COMENTARIOS -->
              <form method="POST">
                    {% csrf_token %}
                    <label for="comentario">Añadir comentario</label>
                    <input type="text" name="comentario"/>
                    <button type="submit">Comentar</button>

              </form>



      {% else %}
          <strong>El aparcamiento seleccionado no existe.</strong>
      {% endif %}
      <br><a href="/aparcamientos">Volver a la página de aparcamientos</a>
  </center></div>




{% endblock content %}
