{% extends 'aparcamientos/private/base.html' %}
{% load staticfiles %}


{% block content %}
<div>
<div><strong>Filtrar por distrito:</strong>
<form method="POST" id="formulario">
  {% csrf_token %}
    <select name="distrito">
      <option selected value="todos">Todos</option>
      {% for distrito in distritos %}
          <option
          {% if distrito_filtro == distrito %}
          selected
          {% endif %}
          value="{{ distrito }}">{{ distrito }}</option>
      {% endfor %}
    </select>
      <button type="submit">Filtrar</button>
</form></div>


  {% if aparcamientos %}  <!-- Comprobamos que haya aparcamientos -->
    {% if not accesibles %}
        <strong><a href="/aparcamientos/accesibles">Mostrar sólo accesibles</strong>
    {% else %}
        <strong><a href="/aparcamientos">Mostrar todos los aparcamientos</strong>
    {% endif %}
    {% for aparcamiento in aparcamientos %}
        <div>
            <p><center><a href="/aparcamientos/{{ aparcamiento.identificador }}">{{ aparcamiento.nombre }}
              {% if aparcamiento.accesibilidad %}
                <img src="{% static 'images/accesibilidad.png' %}" width="20" height="20">
              {% endif %}
            </center></a>

        <div>
    {% endfor %}
  {% else %}
        <div><strong>No hay aparcamientos cargados. <a href="/load_xml">Sé el primero en cargarlos</a></strong></div>
  {% endif %}

</div>


{% endblock content %}
